*{
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
}

html{
    height: 100%;
}

.row {
    background-image: url("./photos/warmUp.jpg");
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;

}

